<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="Tax" value="14.5"/>
      <add key="user" value="ma"/>
      <add key="pass" value="pswd"/>
      <add key="db" value="bill_items"/>
      <add key="tin" value="777777"/>
    </appSettings>
</configuration>